jupyter==1.0.0
vadersentiment==3.3.2
searchtweets==1.7.6
pandas_datareader==0.9.0
yfinance==0.1.54
google-colab==1.0.0
yfinance==0.1.54
pandas
tensorflow-hub
tensorflow-gpu
keras
numpy
pytest
seaborn
matplotlib
scikit-learn
pyyaml
pyspark
ipykernel
kafka-python
