vadersentiment==3.3.2
searchtweets==1.7.6
pandas_datareader==0.9.0
yfinance==0.1.54
google-colab==1.0.0
pandas==1.1.0
tensorflow-hub==0.8.0
tensorflow-gpu
keras==2.4.3
numpy==1.19.1
jupyter==1.0.0
pytest==6.0.1
seaborn==0.10.1
matplotlib==3.3.0
scikit-learn==0.23.2
pyyaml==5.3.1
pyspark==3.0.0
ipykernel==5.3.4