pyspark==3.0.1
jupyter==1.0.0
pandas
tensorflow-hub
tensorflow-gpu
keras
numpy
pytest
seaborn
matplotlib
scikit-learn
pyyaml
ipykernel
kafka-python
findspark
torchtext==0.6.0
spacy
torch
GoogleNews==1.4.1
newspaper3k==0.2.8
fastai==2.0.15
fastcore==1.0.16
pytz